body{
    background-color: whitesmoke;
}
.lista{
    list-style-type: none;
}
input{
    border: none;
}
div,li{
    color: black;
}
input.form-control:disabled {
    background-color: black;
}
.elementContainer{
    display: flex;
    text-align: center;
    align-self: center;
    justify-content: center;
}
.todo-list{
    text-align: center;
    align-self: center;
    justify-content: center;
}