body{
    background-color: whitesmoke;
}
.lista{
    list-style-type: none;
}
div,li{
    color: black;
}
.elementContainer{
    display: flex;
    text-align: center;
    align-self: center;
    justify-content: center;
}
.todo-list{
    text-align: center;
    align-self: center;
    justify-content: center;
}